[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=fazle_ferdaus1416
WorkingDirectory=/home/fazle_ferdaus1416/sites/SITENAME/source
ExecStart=/home/fazle_ferdaus1416/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.wsgi:application

[Install]
WantedBy=multi-user.target